<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" parallel="tests" verbose="1">
    <test name="Grid firefox Test">
        <parameter name="browser" value="FIREFOX"/>
        <classes>
            <class name="com.epam.run.tests.GoogleMailSentTest"/>
        </classes>
    </test>
    <test name="Grid chrome Test">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="com.epam.run.tests.GoogleMailSentTest"/>
        </classes>
    </test>
</suite>